[user]
	useConfigOnly = true
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	review = !sh -c 'git fetch -a && gitk origin/review/$1 --not origin/$2' -
	unmerged = !git branch -a --no-merged | grep remotes/
	sync = !git fetch --all --prune && git fetch --tags
	delbranch = !sh -c 'git branch -d dev/ryantm/$1 && git push origin :dev/ryantm/$1' -
[core]
	excludesfile = /home/ryantm/.gitignore_global
[push]
	default = simple
